# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.pyd

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
pip-wheel-metadata/
wheelhouse/

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
venv.bak/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.coverage
.coverage.*
.cache
.nox/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Type checkers / caches
.mypy_cache/
.pyre/
.pytype/

# Jupyter
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db
*.swp

# Enviroment Variables
.env